<!-- src/main/resources/templates/fragments/mypage_sidebar.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>사이드바</title>
</head>
<body>
<div th:fragment="sidebar">
  <aside>
    <div class="user-info">
      <p th:text="'이름: ' + ${member.name}"></p>
      <p th:text="'이메일: ' + ${member.email}"></p>
    </div>

    <ul>
      <li><a th:href="@{/mypage/edit}">회원정보 수정</a></li>
      <li><a th:href="@{/mypage/mycourse}">내가 만든 데이트 코스</a></li>
    </ul>
  </aside>
</div>
</body>
</html>