
.navbar {
  width: 100vw;
  height: 56px;
  background: #ffeaf6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  box-sizing: border-box;

}
.navbar-left {
  display: flex;
  align-items: center;
}
.back-arrow {
  font-size: 22px;
  color: #ff4fa0;
  margin-right: 8px;
  cursor: pointer;
}
.logo {
  font-weight: bold;
  color: #ff4fa0;
  font-size: 18px;
  background: #ffeaf6;
  padding: 4px 12px;
  border-radius: 4px;
}
.navbar-right a {
  display: flex;

  color: #ff4fa0;
  text-decoration: none;
  margin: 0 10px;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
}
.profile-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  background: url('https://cdn-icons-png.flaticon.com/512/3135/3135715.png') no-repeat center/cover;
  border-radius: 50%;
  margin-left: 8px;
  border: 2px solid #fff0fa;
}