<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=1440, initial-scale=1.0"/>
  <title>유저 메인페이지</title>
  <link rel="stylesheet" th:href="@{/css/mainPage.css}" />
  <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="main-content">
  <!-- 에디터 픽 데이트 코스 섹션 -->
  <section class="recommend-section">
    <div class="section-title-row">
      <h2 class="section-title">에디터 픽 데이트 코스</h2>

      <div class="section-subtitle-row">
        <h2>에디터들이 엄선한 데이트 코스들이에요</h2>
        <a th:href="@{/editor-recommand-courses}" class="more-link" id="editor-more">더보기</a>
      </div>
    </div>
    <div class="card-list" id="editor-pick-list"></div>
  </section>

  <!-- 추천 데이트 코스 섹션 -->
  <section class="recommend-section">
    <div class="section-title-row">
      <h2 class="section-title">추천 데이트 코스</h2>

      <div class="section-subtitle-row">
        <h2>유저들이 추천하는 데이트 코스들이에요</h2>
        <a th:href="@{/recommend-courses}" class="more-link" id="user-more">더보기</a>
      </div>
    </div>
    <div class="card-list" id="recommend-list"></div>
  </section>
</div>


<!-- JS 스크립트 링크 -->
<script th:src="@{/js/mainPage.js}"></script>
</body>

</html>
